
.signupPage {

    margin-top: 15%;
}

.signupPage > h1 {

    padding-bottom: 5%;
}

.signupBtn {
    padding: 10px 15px;
    border: solid 3px #F34D4D;
    border-radius: 20px;
    color: #F34D4D;
    font-size: 1.2em;
    background-color: white;
    margin: 3% 0;
}

.signupBtn:hover {
    background-color: #F34D4D;
    color: white;
}